@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
.test {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, #f9df7b, #b57e10, #b78113, #be8c1f, #cb9d32, #dcb64e, #f2d570, #f9df7b, #fff3a6, #f9df7b, #b57e10, #e5c25b, #f9df7b) 1; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Thai", sans-serif; }

body {
  font-family: "Arial", sans-serif;
  background: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative; }

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 61px;
  background: linear-gradient(to right, #242424, #0a0000, #191919, #000000, #242424);
  padding: 16px 23px 18px 23px; }
  .header .left {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 25px;
    align-items: center; }
    .header .left img {
      cursor: pointer; }
  .header .right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 15px; }
    .header .right button {
      color: #ffff;
      font-weight: 600;
      background-color: #000000;
      font-size: 20px;
      border-radius: 38px;
      border: 1px solid #a68859;
      height: 45px;
      width: 114px;
      cursor: pointer; }
    .header .right img {
      cursor: pointer; }

.login-page-header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 61px;
  background: linear-gradient(to right, #242424, #0a0000, #191919, #000000, #242424);
  padding: 16px 23px 18px 23px; }
  .login-page-header .coin-balance,
  .login-page-header .gem-balance {
    padding: 4px 8px;
    height: 32px;
    position: relative;
    text-align: right;
    border-radius: 50px;
    border: 2px solid #a68859;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500; }
  .login-page-header .left .coin-balance {
    width: 127px; }
    .login-page-header .left .coin-balance img {
      position: absolute;
      left: -30px;
      top: -20px; }
  .login-page-header .right .gem-balance {
    width: 76px; }
    .login-page-header .right .gem-balance img {
      position: absolute;
      left: -20px;
      top: -10px; }
  .login-page-header .right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 15px; }
    .login-page-header .right button {
      color: #ffff;
      font-weight: 600;
      background-color: #000000;
      font-size: 20px;
      border-radius: 38px;
      border: 1px solid #a68859;
      height: 45px;
      width: 114px;
      cursor: pointer; }
    .login-page-header .right img {
      cursor: pointer; }

main {
  flex: 1;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover; }

.description {
  margin-top: 1.5px;
  text-align: end;
  font-size: 14px;
  background: #242424;
  padding: 8px 8px;
  color: #ffff; }

.brand {
  margin-top: 8px; }
  .brand img {
    height: 237px;
    width: 100%; }

.main {
  flex: 1;
  min-width: 200px; }

.sidebar {
  flex-basis: 200px; }

.search-container {
  margin: 12px 0;
  width: 100%;
  height: 56px;
  border-radius: 33px;
  border: 1px solid #969696;
  background: rgba(0, 0, 0, 0.76);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 22px; }
  .search-container .search-icon {
    width: 29px;
    height: 29px; }
  .search-container input {
    width: 100%;
    height: 100%;
    color: white;
    background: none;
    border: none;
    outline: none;
    padding: 30px;
    font-size: 32px; }
    .search-container input::placeholder {
      color: #838383;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }

.featured-game-wrapper {
  width: 1300px;
  display: block;
  margin: 28px auto; }
  .featured-game-wrapper .container {
    height: 94px;
    gap: 14px;
    flex-wrap: wrap; }
    .featured-game-wrapper .container .featured-game {
      cursor: pointer;
      width: 200px;
      height: 100%;
      padding: 0 17px;
      position: relative;
      background-clip: padding-box;
      /* !importanté */
      border: solid 6px transparent;
      /* !importanté */
      border-radius: 1em;
      border: 3px solid #f9df7b;
      background: linear-gradient(0deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
      box-shadow: 0px 5px 4px 0px #000; }
      .featured-game-wrapper .container .featured-game:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
        background: linear-gradient(#f9df7b, #b57e10, #b78113, #be8c1f, #cb9d32, #dcb64e, #f2d570, #f9df7b, #fff3a6, #f9df7b, #b57e10, #e5c25b, #f9df7b); }
        .featured-game-wrapper .container .featured-game:hover p {
          color: #000; }
      .featured-game-wrapper .container .featured-game p {
        color: #fff;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; }

.card-container {
  width: 1400px;
  display: block;
  margin: 27px auto; }
  .card-container .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 23px; }
    .card-container .card-wrapper img {
      width: 190px;
      height: 280px;
      cursor: pointer; }
      .card-container .card-wrapper img:hover {
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out; }

.info-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  background: #000;
  background-clip: padding-box;
  /* !importanté */
  border: solid 3px transparent;
  /* !importanté */
  border-radius: 1em; }
  .info-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(#f9df7b, #b57e10, #b78113, #be8c1f, #cb9d32, #dcb64e, #f2d570, #f9df7b, #fff3a6, #f9df7b, #b57e10, #e5c25b, #f9df7b); }

.hero-text {
  margin: 30px auto;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column; }
  .hero-text h4 {
    font-size: 30px;
    color: #f9df7b; }
  .hero-text p {
    color: white;
    text-align: center; }

.partnership-container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 29px;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around; }
  .partnership-container > div img {
    width: 100px;
    height: 100px;
    object-fit: contain; }

#created-website-by {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  color: white;
  background: rgba(0, 0, 0, 0.9); }

#term-condition {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  font-size: 30px; }
  #term-condition :first-child {
    color: #f9df7b; }
  #term-condition :last-child {
    color: white; }

.sidebar-container {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 10;
  align-items: center; }
  .sidebar-container .sidebar {
    width: 320px;
    height: 100vh;
    overflow: scroll;
    flex-basis: unset;
    z-index: 20;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #f9df7b;
    background: linear-gradient(270deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
    animation: slideInFromLeft 0.5s ease-in-out;
    padding: 39px 44px; }
    .sidebar-container .sidebar img {
      width: 100%; }
    .sidebar-container .sidebar .flexBetween {
      width: 100%;
      margin: 20px 0; }
  .sidebar-container .balance {
    height: 65px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #f9df7b;
    background: #565656;
    box-shadow: 0px 4px 4px 0px #000;
    color: white; }
    .sidebar-container .balance small {
      font-size: 16px;
      font-weight: 300;
      text-align: left; }
    .sidebar-container .balance p {
      font-size: 20px;
      font-weight: 600;
      text-align: right; }
  .sidebar-container .sidebar-button {
    cursor: pointer;
    height: 65px;
    background-color: #000;
    color: white;
    font-weight: 600;
    font-size: 20px; }
  .sidebar-container .download-container {
    padding: 7px 14px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px #000; }
    .sidebar-container .download-container h3 {
      color: #000;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      text-align: center; }
  .sidebar-container h4 {
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    margin: 12px 0; }
  .sidebar-container .sidebar-container-background {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39); }
  .footer .menu-wrapper {
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px; }
    .footer .menu-wrapper .footer-item {
      flex-direction: column;
      cursor: pointer; }
      .footer .menu-wrapper .footer-item img {
        width: 44px;
        height: 44px; }

.gradient-border {
  position: relative;
  background-clip: padding-box;
  /* !importanté */
  border: solid 2px transparent;
  /* !importanté */
  border-radius: 1em; }
  .gradient-border:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(#f9df7b, #b57e10, #b78113, #be8c1f, #cb9d32, #dcb64e, #f2d570, #f9df7b, #fff3a6, #f9df7b, #b57e10, #e5c25b, #f9df7b); }

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.font-17 {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; }

.font-20 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500; }

.font-30 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500; }

.login-modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 10; }
  .login-modal .login-modal-wrapper {
    position: relative;
    flex-direction: column;
    width: 734px;
    height: 699px;
    padding: 33px 63px;
    background-color: black;
    border-radius: 60px;
    border: 3px solid #f9df7b;
    animation: scaleUp 0.5s ease-in-out;
    background-image: url(/assets//images/login-modal-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; }
    .login-modal .login-modal-wrapper .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      cursor: pointer; }
    .login-modal .login-modal-wrapper img {
      width: 476px;
      display: block;
      margin: 0 auto; }
    .login-modal .login-modal-wrapper h3 {
      color: #fff;
      font-size: 45px;
      font-style: normal;
      font-weight: 600;
      margin: 20px 0;
      text-align: center; }
    .login-modal .login-modal-wrapper .phone-input {
      border-radius: 10px;
      background: #433d3d;
      width: 100%;
      height: 71px;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      gap: 10px; }
      .login-modal .login-modal-wrapper .phone-input img {
        width: 50px;
        height: 50px; }
      .login-modal .login-modal-wrapper .phone-input input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-size: 25px;
        font-weight: 600; }
        .login-modal .login-modal-wrapper .phone-input input::placeholder {
          color: #fff;
          font-size: 25px;
          font-weight: 600; }
    .login-modal .login-modal-wrapper .button-container {
      margin-top: 57px;
      width: 100%; }
      .login-modal .login-modal-wrapper .button-container button {
        width: 100%;
        height: 71px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 35px;
        font-weight: 600; }
      .login-modal .login-modal-wrapper .button-container :first-child {
        border-radius: 10px;
        background: #c1933b;
        color: black; }
      .login-modal .login-modal-wrapper .button-container :last-child {
        border-radius: 10px;
        border: 4px solid #f9df7b;
        background: #433d3d;
        color: white; }
  .login-modal .background {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -10; }

#signUpModal .modal-border {
  border-radius: 60px;
  padding: 6px; }

#signUpModal .modal-content {
  border-radius: 60px;
  overflow: hidden;
  padding: 0; }

#signUpModal .signup-modal-content {
  position: relative;
  width: 734px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; }
  #signUpModal .signup-modal-content .close-btn {
    position: absolute;
    top: 32px;
    right: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  #signUpModal .signup-modal-content .signup-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 66px; }
  #signUpModal .signup-modal-content .step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 36px; }
    #signUpModal .signup-modal-content .step-container .step-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #signUpModal .signup-modal-content .step-container .step-item .step-item-box {
        width: 94px;
        height: 94px;
        border-radius: 10px;
        border: 1px solid #797979;
        font-size: 45px;
        font-weight: 600;
        color: #676767;
        background-color: #3D3D3D;
        display: flex;
        justify-content: center;
        align-items: center; }
      #signUpModal .signup-modal-content .step-container .step-item .step-item-text {
        position: absolute;
        top: 100px;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 300;
        color: #676767;
        text-align: center; }
    #signUpModal .signup-modal-content .step-container .step-item.active .step-item-box {
      position: relative;
      color: #fff;
      background-color: #000;
      border: 1px solid #000; }
    #signUpModal .signup-modal-content .step-container .step-item.active .step-item-box::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 10px;
      background: linear-gradient(90deg, #f9df7b 0%, #b57e10 20%, #b78113 26%, #be8c1f 32%, #cb9d32 38%, #dcb64e 44%, #f2d570 49%, #f9df7b 51%, #fff3a6 52%, #f9df7b 59%, #b57e10 84%, #e5c25b 95%, #f9df7b 100%);
      z-index: -1; }
    #signUpModal .signup-modal-content .step-container .step-item.active .step-item-text {
      color: #fff; }
    #signUpModal .signup-modal-content .step-container .step-line {
      width: 79px;
      height: 1px;
      background-color: #676767; }
  #signUpModal .signup-modal-content .step-one, #signUpModal .signup-modal-content .step-two, #signUpModal .signup-modal-content .step-three {
    width: 100%; }
  #signUpModal .signup-modal-content .signup-header {
    margin-top: 52px;
    font-size: 33px;
    font-weight: 600;
    color: #fff;
    width: 100%; }
  #signUpModal .signup-modal-content .signup-header-success {
    margin-top: 82px;
    font-size: 57px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    text-align: center; }
  #signUpModal .signup-modal-content .signup-title {
    font-size: 25px;
    font-weight: 600;
    color: #FFAA00;
    width: 100%; }
  #signUpModal .signup-modal-content .phone-input {
    border-radius: 10px;
    background: #433d3d;
    width: 100%;
    height: 71px;
    padding: 10px 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 19px; }
    #signUpModal .signup-modal-content .phone-input img {
      width: 50px;
      height: 50px; }
    #signUpModal .signup-modal-content .phone-input input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      color: #fff;
      font-size: 25px;
      font-weight: 600; }
      #signUpModal .signup-modal-content .phone-input input::placeholder {
        color: #fff;
        font-size: 25px;
        font-weight: 600; }
  #signUpModal .signup-modal-content button {
    width: 100%;
    height: 71px;
    margin-top: 23px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    background: #c1933b;
    color: black; }
  #signUpModal .signup-modal-content .already-have-account {
    text-align: end;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    color: #fff; }
    #signUpModal .signup-modal-content .already-have-account .go-to-login {
      color: #FFAA00;
      text-decoration: underline; }
  #signUpModal .signup-modal-content .bank-list-container {
    padding: 16px 12px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* Creates 3 columns of equal size */
    justify-content: center;
    grid-gap: 11px; }
    #signUpModal .signup-modal-content .bank-list-container .bank-item {
      text-align: center; }
  #signUpModal .signup-modal-content .img-success-container {
    width: 100%;
    text-align: center; }

#signUpModal .signup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets//images/login-modal-background.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -15;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

#signUpModal .logo {
  width: 476px; }

@media (max-width: 480px) {
  .header {
    padding: 13px 7px; }
    .header .left .hamburger {
      display: none; }
    .header .left #banner {
      width: 142px; }
    .header .right button {
      width: 74px;
      height: 29px;
      font-size: 12px; }
    .header .right .logo-thai {
      display: none; }
  main {
    padding: calc(6rem + 61px) 0 6rem 0;
    overflow: hidden; }
    main .featured-game-wrapper#mobile {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 61px;
      background: #0d0d0d;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 17px;
      color: white;
      top: 30px; }
      main .featured-game-wrapper#mobile > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer; }
        main .featured-game-wrapper#mobile > * img {
          width: 28px;
          height: 28px; }
        main .featured-game-wrapper#mobile > * p {
          font-size: 12px;
          font-weight: 600; }
    main .description {
      position: fixed;
      z-index: 10;
      top: 115px; }
    main .brand {
      height: 155px; }
    main .featured-game-wrapper#desktop {
      display: none; }
    main .search-container {
      display: none; }
    main .card-container {
      display: none; }
    main .info-wrapper#desktop {
      display: none; }
  .footer {
    display: none; } }

@media (min-width: 481px) {
  .featured-game-wrapper#mobile {
    display: none; } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInToLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

@keyframes scaleUp {
  0% {
    transform: scale(0.5); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes scaleDown {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.5); } }

/* The Modal (background) */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  /* Add more styling to .card as needed for content */
  /* The Close Button */ }
  .modal .modal-border {
    position: relative;
    z-index: -15;
    background: linear-gradient(90deg, #f9df7b 0%, #b57e10 20%, #b78113 26%, #be8c1f 32%, #cb9d32 38%, #dcb64e 44%, #f2d570 49%, #f9df7b 51%, #fff3a6 52%, #f9df7b 59%, #b57e10 84%, #e5c25b 95%, #f9df7b 100%);
    border-radius: 20px;
    margin: auto;
    padding: 3px;
    min-width: 25%;
    width: fit-content;
    animation-name: slideIn;
    animation-duration: 0.4s; }
  .modal .modal-content {
    position: relative;
    z-index: -10;
    background-color: #000;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .modal .modal-header-container {
    position: absolute;
    top: -45px;
    width: 100%;
    display: flex;
    justify-content: center; }
    .modal .modal-header-container .modal-header {
      position: relative;
      margin: auto;
      min-width: 400px;
      width: fit-content;
      background: linear-gradient(270deg, #242424 0%, #0A0000 23.44%, #191919 52.6%, #000000 81.25%, #242424 100%);
      border-radius: 15px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px; }
    .modal .modal-header-container .modal-header::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      z-index: -1;
      background: linear-gradient(90deg, rgba(249, 223, 123, 0.8) 0%, rgba(181, 126, 16, 0.8) 20%, rgba(183, 129, 19, 0.8) 26%, rgba(190, 140, 31, 0.8) 32%, rgba(203, 157, 50, 0.8) 38%, rgba(220, 182, 78, 0.8) 44%, rgba(242, 213, 112, 0.8) 49%, rgba(249, 223, 123, 0.8) 51%, rgba(255, 243, 166, 0.8) 52%, rgba(249, 223, 123, 0.8) 59%, rgba(181, 126, 16, 0.8) 84%, rgba(229, 194, 91, 0.8) 95%, rgba(249, 223, 123, 0.8) 100%);
      border-radius: 15px;
      pointer-events: none; }
    .modal .modal-header-container .modal-icon-back {
      cursor: pointer; }
    .modal .modal-header-container .modal-icon-close {
      cursor: pointer; }
  .modal .modal-body {
    padding: 8px 16px; }
  .modal .modal-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0; }
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .modal .close:hover,
  .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

/* Add Animation */
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Animation for hiding the modal */
.modal.hide .modal-border {
  animation-name: slideOut;
  animation-duration: 0.4s; }

@keyframes slideOut {
  from {
    bottom: 0;
    opacity: 1; }
  to {
    bottom: -300px;
    opacity: 0; } }
